{% extends 'base.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
<header class="header">
    <a href="#" class="logo">Developer</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="{{ url_for('login') }}" id="login" name = "login">Login</a>
      <a href="{{ url_for('signup') }}" id="signup" name = "signup">Signup</a>
    </nav>
</header>

<main>
    <div class="intro">
      <h1>A Web Developer</h1>
      <p>I am a web developer and I love to create websites.</p>
    </div>
    
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Me</h2>
        <p>I am a web developer and I love to create websites. I am a very good developer and I am always looking for new projects. I am a very good developer and I am always looking for new projects.</p>
      
</main>

<footer class="footer">
    <div class="copy">&copy; 2022 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</footer>
{% endblock %}